<nav class="navbar navbar-dark bg-dark navbar-expand-sm">

    <a href="#" class="navbar-brand">Recipe Book</a>
    
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
      <span class="navbar-toggler-icon"></span> 
    </button>
    
    <div id="mynav" class="collapse navbar-collapse ">
    
      <ul class="navbar-nav mr-auto">
    
        <li class="nav-item"><a href="#" class="nav-link"  routerLink="recipe">Recipe</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="shopping-list">Shopping List</a></li>
    
      </ul>
    
    </div>
    
    <ul class="navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button" style="color:white">Manage </a>
          <ul class="dropdown-menu">
              <li><a href="#">Save Data</a></li>
              <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
  

    </nav>
    
    



