
<nav class="navbar navbar-dark bg-dark   navbar-expand-sm ">

    <a href="#" class="navbar-brand">Academind</a>
  
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid">
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarid">
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a href="#" class="nav-link">User</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Test</a></li>
    </ul>
  
  </div>
  
  </nav>
  
  
  