<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Amount</label>
          <input type="number"  class="form-control" name="amount" id="amount">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group" style="margin-left:0px">
          <button class="btn btn-success  " style="margin-right:10px" type="submit">Add</button>
          <button class="btn btn-danger " type="button" style="margin-right:10px">Delete</button>
          <button class="btn btn-primary " type="reset">Clear</button>
        </div>
      </div>

    </form>
  </div>
</div>